.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: navajowhite;
}

.dashboardContainer h2 {
    font-size: 4em;
    margin-bottom: 20px;
    padding: 40px;
    font-family: 'Lora', serif;
    color: #2f2f2f;
}

.dashboardContainer p {
    font-size: 1.5em;
    color: #2f2f2f;
    max-width: 800px;
    text-align: center;
}
    .dashboardContainer button {
        padding: 10px;
        background-color: #5f7f1e;
        color: #f5f1e6;
        font-size: 1.5em;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .dashboardContainer button:hover {
        background-color: orange;
    }   